# Full reference https://github.com/foundry-rs/foundry/tree/master/crates/config

[profile.default]
  # dirty workaround to disable solc downloads; use when all solc required versions are already available locally
  # offline = true
  # Do not include the 'solc' variable when auto_detect_solc set to true
  # forge will install version(s) required for compiling
  auto_detect_solc = true
  block_timestamp = 1_680_220_800 # March 31, 2023 at 00:00 GMT
  bytecode_hash = "none"
  evm_version = "paris"           # See https://www.evmdiff.com/features?name=PUSH0&kind=opcode
  fuzz = { runs = 1_000 }
  gas_reports = ["*"]
  optimizer = false
  #optimizer_runs = 10_000
  optimizer_runs = 200
  out = "out"
  script = "script"
  #multiple solc versions needed: do not set any specific version
  #solc = "0.8.23"
  #src = "src"
  src = "src/contracts"
  test = "test"

[profile.ci]
  fuzz = { runs = 10_000 }
  verbosity = 4

[etherscan]
  arbitrum = { key = "${API_KEY_ARBISCAN}" }
  avalanche = { key = "${API_KEY_SNOWTRACE}" }
  bnb_smart_chain = { key = "${API_KEY_BSCSCAN}" }
  gnosis_chain = { key = "${API_KEY_GNOSISSCAN}" }
  goerli = { key = "${API_KEY_ETHERSCAN}" }
  mainnet = { key = "${API_KEY_ETHERSCAN}" }
  optimism = { key = "${API_KEY_OPTIMISTIC_ETHERSCAN}" }
  polygon = { key = "${API_KEY_POLYGONSCAN}" }
  polygon_mumbai = { key = "${API_KEY_POLYGONSCAN}" }
  sepolia = { key = "${API_KEY_ETHERSCAN}" }

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 118
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true
  single_line_statement_blocks = "preserve"
  ignore = [ "test/ds-test/test.sol", "test/utils/*.sol", "src/contracts/Uniswap/v2-core/interfaces/*.sol", "src/contracts/Uniswap/v2-core/libraries/*.sol", "src/contracts/Uniswap/v2-core/*.sol", "src/contracts/Uniswap/solidity-lib/libraries/*.sol", "src/contracts/Uniswap/v2-periphery/interfaces/*.sol", "src/contracts/Uniswap/v2-periphery/*.sol", "src/contracts/Uniswap/v2-periphery/libraries/*.sol" ]

[rpc_endpoints]
  arbitrum = "https://arbitrum-mainnet.infura.io/v3/${API_KEY_INFURA}"
  avalanche = "https://avalanche-mainnet.infura.io/v3/${API_KEY_INFURA}"
  bnb_smart_chain = "https://bsc-dataseed.binance.org"
  gnosis_chain = "https://rpc.gnosischain.com"
  goerli = "https://goerli.infura.io/v3/${API_KEY_INFURA}"
  localhost = "http://localhost:8545"
  mainnet = "https://eth-mainnet.g.alchemy.com/v2/${API_KEY_ALCHEMY}"
  optimism = "https://optimism-mainnet.infura.io/v3/${API_KEY_INFURA}"
  polygon = "https://polygon-mainnet.infura.io/v3/${API_KEY_INFURA}"
  polygon_mumbai = "https://polygon-mumbai.infura.io/v3/${API_KEY_INFURA}"
  sepolia = "https://sepolia.infura.io/v3/${API_KEY_INFURA}"
